@charset "utf-8";
body{
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif
}
div {
	float: left;
	background-color: #66C285;
	width: 400px;
	margin: 20px;
	padding: 30px;
	height: 400px;
}
.image {
	float:right;
	background-color: #FFFFFF;
	width: 380px;
	margin: auto;
	padding: 10px;
	height: 350px;
}
.outerpay {
	background-color: #FF1919;
}
header {
	font-size:36px;
	background-color: #66C285;
	text-align:center;
	font: arial;
}
tr:nth-child(even) {
    background-color: #66C285;
}